body {
  line-height: 1.6;
  margin: 2em;
}

th {
  background-color: #001f3f;
  color: #fff;
  padding: 0.5em 1em;
}

td {
  border-top: 1px solid #eee;
  padding: 0.5em 1em;
  text-align: center;
}

input {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 852px;
}

.hidden {
  display: none; /* hide */
}

.show {
  display: block; /* show */
}

.display-flex {
  display: flex; /* show */
}

.btn {
  padding: 10px 20px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.primary-btn {
  background-color: #ff6347;
  transition: all 1s;
}

.primary-btn:hover {
  background-color: #d5553e;
}
.secondary-btn {
  background-color: #aaa;
  margin-right: 45px;
  transition: all 1s;
}

.secondary-btn:hover {
  background-color: #787777;
}

/* Column types */
th.missed-col {
  background-color: #f00;
  color: #fff;
}

.missed-col {
  background-color: #ffecec;
  color: #f00;
  text-align: center;
}

.name-col {
  text-align: left;
}

.name-cell {
  position: relative;
  text-align: left;
  min-width: 157px; /*set the table column width constant regardless of the amount of text in its cells */
}

.selected-col {
  background: #dedede;
  /* -webkit-box-shadow: 2px 2px 23px 0px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 2px 2px 23px 0px rgba(0, 0, 0, 0.56);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.56); */
}

/* select all options */
#select-all-icon {
  position: absolute; /* this icon represents an alias for default checkbox */
  top: 31px;
  left: 12px;
  font-size: 24px;
}

#select-all-option-btn {
  opacity: 0; /* hide the browser's default checkbox, show alias icon */
}

/* addStudent view */
#sort-options {
  margin: 20px 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.option-btn {
  font-size: 3em;
  color: #ff6347;
  border: 0;
  background: transparent;
  transition: all 1s;
}

.option-btn:hover {
  color: #d1371c;
}

/* options */
#options {
  display: flex;
  justify-content: space-between;
}

.option-view {
}

.option-content {
  position: relative;
  flex-wrap: wrap;
  width: 250px;
  background-color: #f0eeee;
  margin: 20px 10px 20px 0;
  padding: 0 2px;
  /* border: 1px solid #888; */
  max-width: 400px;
  color: #636363;
}

.option-content .fa-caret-up {
  position: absolute;
  top: -19px;
  left: 22px;
  font-size: 30px;
  color: #f0eeee;
}

.option-header {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 16px;
}

.option-header h5 {
  margin: 0;
  font-size: 20px;
}

.option-body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
  justify-content: space-between;
  /* items are centered in the cross-axis */
  align-items: center;
  padding: 16px;
}

.option-body input {
  padding: 10px 20px;
  width: 100%;
  margin-top: 10px;
}

.option-body input[type='number'] {
  padding: 10px 20px;
  width: 50px;
}

.option-footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid #ddd;
  padding: 16px;
}

.option-close {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 6px;
  border-top: 1px solid #ddd;
}

.option-close .option-close-btn {
  font-size: 40px;
  color: #000;
  background: transparent;
  transition: all 1s;
}

.select-option-btn {
  font-size: 1.5em;
  padding: 7px;
  margin-right: 5px;
}

/* modal */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal .modal-content {
  display: flex;
  flex-wrap: wrap;
  background-color: #fefefe;
  margin: 15% auto;
  border: 1px solid #888;
  max-width: 400px;
  color: #636363;
}

.modal-header {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 16px;
}

.modal-header h5 {
  width: 70%;
  margin: 0;
  font-size: 20px;
}

.modal-header i {
  width: 30%;
}

.modal-body {
  width: 100%;
  display: flex;
  padding: 30px 0;
  justify-content: space-between;
  align-items: center; /* items are centered in the cross-axis */
  padding: 16px;
}

.modal-body input {
  padding: 10px 20px;
}

.modal-footer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  /* border-top: 1px solid #ddd; */
  padding: 16px;
}

.modal .modal-close-btn {
  width: 30%;
  padding: 20px;
  padding-top: 0;
  color: #aaa;
  text-align: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: all 1s;
}

.modal .modal-close-btn:hover,
.modal .modal-close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* media queries */
/* for medium, small screens */
@media screen and (max-width: 774px) {
  /* table container */
  .cotained-table {
    width: 100%;
    overflow-x: auto;
  }
}

@media screen and (max-width: 450px) {
  /* modal */
  .modal .modal-content {
    width: 85%;
  }

  .modal-body {
    height: 89px;
    flex-wrap: wrap;
    align-content: space-around;
  }

  .modal-body input {
    width: 100%;
  }
}
